   {{!-- <div class="pagination" id="pagination"></div> --}}
<div class="pagination mb-5" id="pagination">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <!-- Previous Button -->
      <li class="page-item"  id="prevBtn">
        <a class="page-link btn btn-secondary  btn-sm" href="#" aria-label="Previous" style="border-radius: 5px;">
          <span aria-hidden="true">&laquo;</span> <!-- Left arrow -->
        </a>
      </li>

      <!-- Page Number Buttons -->
      <!-- Dynamic buttons will be inserted here by JavaScript -->

      <!-- Next Button -->
      <li class="page-item" id="nextBtn">
        <a class="page-link btn btn-secondary btn-sm" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span> <!-- Right arrow -->
        </a>
      </li>
    </ul>
  </nav>
</div>